/* (C) Copyright Bobbing Wide 2015,2016 */
/* Dummy custom.css for genesis-tags theme */
/* Note that this doesn't get ZIPped by tip.bat */

.textwidget .bw_list li {
	border: 1px solid #ccc;
	border-top: 0;
	background-color: #eee;
	margin: 0.2em 0;
	padding: 0 0 0 5px;
	
}

.textwidget .bw_list a {
	text-decoration: none;
}

.footer-widgets {
	/* background-color: #dce8cb; */
	font-size: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

.footer-widgets .widget-area {
	margin-top: 20px;
}

footer 
{ clear: both; }

footer hr {
	margin: 10px 5%;
	border-top: 1px solid #77aa33;
}

a.bw_post, 
span.title { 
	font-size: 24px;
}

a.bw_post,
span.label {
	font-weight: bold;
}


.footer-widgets-1 {
	width: 50%;
	margin-left: 2%; 
	margin-right: 2%; 
	float: left;
}


.footer-widgets-2,
.footer-widgets-3 {
	width: 20%;
	margin-right: 2%;
	float: left;
}

/** 
 * Styling for the tabbed part of Events
 */

div.TAGS_content-info { width: 100%; }
div.TAGS_content-body { background-color: #ffffff; margin-top: 0px; padding: 10px 10px; }
div.TAGS_content-info:after { clear: left; }

.TAGS_content-info ul#sections {
	margin-left: 0px;
}

.TAGS_content-info ul#sections li {
	line-height: 1;
	display: block;
	float: left;
	padding: 8px 8px 9px;
	margin: 0;
}

.TAGS_content-info ul#sections li.current {
	padding-top: 7px;
	background-color: #fff;

	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #d7d7d7;

	-webkit-box-shadow: 0 0 8px 0px rgba( 100, 100, 100, 0.12 );
	-moz-box-shadow: 0 0 8px 0px rgba( 100, 100, 100, 0.12 );
	box-shadow: 0 0 8px 0px rgba( 100, 100, 100, 0.12 );

	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.TAGS_content-info ul>li:before { content: none; }


/**
 * Version for genesis based themes
 *
 * This uses a box shadow to place a narrower line than you'd get with a border.
 */

.entry-content .TAGS_content-info ul#sections li.current,
.entry-content .TAGS_content-info ul#sections li:hover {
	padding-top: 7px;
	background-color: #fff;

	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #5b6021;
	
	box-shadow: 0 8px 6px -6px #5b6021;

}

/**
 * Special CSS to style the Next Event and Previous event headings!"
 <h1></h1>
h1:before { content: "Company Name"; }
 */
 


/* # Media Queries
---------------------------------------------------------------------------------------------------- */

/**
 * Width | height  | For
 * ----- | ------- | ------
 * 1440  | 900 		 | Laptop with HiDPI screen
 * 1366  | 768     | my laptop
 * 1280  | 1024,   | Samsung Galaxy thingy
 * 1200	 | 				 |
 * 1024  | 768     | iPad Mini 1 and 2 landscape
 * 960   | 640     | iPhone 4 (dpi 2)  - actually 480 x 320
 * 480   | 320     | "
 * 320   | 480     | iPhone 4 portrait
 
 * Some figures from http://spirelightmedia.com/resources/responsive-design-device-resolution-reference
 *
 * {@link http://www.studiopress.com/design/flexible-grid.htm}
 */

@media only screen and (max-width: 1200px) {

	.site-inner,
	.wrap,
	.footer-widgets {
		max-width: 960px; 
	}
	
	.title-area {
		/* width: 300px; */
		width: 50%;
		
	}
	
	.site-header .widget-area {
		/* width: 620px; */
		width: 50%;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		/* width: 740px; */
	}

	.content {
		width: 60%;
	}
	

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		/* width: 400px; */
		width: 60%;
	}

	.sidebar-primary {
		width: 40%;
	
  }
	

}

@media only screen and (max-width: 960px) {

	.site-inner,
	.wrap,
	.footer-widgets {
		max-width: 800px;
	}
	
	.title-area {
		width: 50%;
	}
	
	.site-header .widget-area {
		width: 50%;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 100%;
		max-width: 100%;
	
	}
	
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		width: 100%;
	}
	
	.site-inner,
	.wrap,
	.footer-widgets {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.footer-widgets-1 {
		margin-left: 0%;
	}
	
	
	
	
  /*

	.site-header .wrap {
		padding: 20px 5%;
	}

	.header-image .site-title > a {
		background-position: center top;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
	}

	.site-header .search-form {
		margin: 16px auto;
	}

	.genesis-nav-menu li.right {
		display: none;
	}
	*/
	
	/*
	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-pings,
	.site-header ,
	*/
	.sidebar .widget {
		padding: 0%;
	}

}

@media only screen and (max-width: 768px) {
	.title-area {
		width: 100%;
	}
	
	.site-header .widget-area {
		width: 100%;
	}
	
	.genesis-nav-menu a {
		padding: 0px 14px 5px 14px;
	} 
	
	/*
	body {
		background-color: #fff;
		font-size: 16px;
		font-size: 1.6rem;
	} 	*/



	
  /*

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
	}
	*/

}



@media only screen and (max-width: 480px) {

.site-header {
	padding-left: 0px;
}

.site-title { 
	font-size: 24px;
	padding-left: 0px;
	
}

.title-area {
	float: left;
	padding: 0px 0px 0px 0px;
}

.genesis-nav-menu a,
.genesis-nav-menu > .first > a,
.genesis-nav-menu > .last > a {
	padding: 5px 5px 5px 0;
}

.genesis-nav-menu {
	font-size: 14px;	
}

	
.site-inner,
.wrap,
.footer-widgets {
	padding-left: 2%;
	padding-right: 2%;
}


}

@media only print {
	div.TAGS_content-info,
	div.footer-widgets,
	footer,
	header,
	img { 
		display: none;
		
	}
	
	table {
		line-height: 1;
	}
	
	.site-inner {
		padding-top: 0;
		position: relative;
		top: 0px;
	}
	
	a {
		text-decoration: none;
	}
	
	body {
		font-size: 0.8em;
	}

	


}




